.hero {
    margin: auto;
    height: 100vh;
  }
  
  .hero__content {
    display: flex;
  }
  
  .hero__text {
    margin-top: 10rem;
    max-width: 50rem;
  }
  
  .hero__title {
    font-size: 4.6rem;
  }
  
  .hero__description {
    font-size: 1.8rem;
    margin: 2.5rem 0 5rem;
    color: #263238;
  }
  
  .btn__hero {
    border: 1px solid #66BB6A;
    color: #ffffff;
    font-size: 1.8rem;
    box-shadow: 1px 10px 30px -10px #66bb6a;
    /*
      Button hover effect resource
      https://codepen.io/alticreation/pen/zBZwOP
      */
    display: inline-block;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
  }
  
  .btn__hero:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #66BB6A;
    z-index: -2;
  }
  
  .btn__hero:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #ffffff;
    transition: all .3s;
    z-index: -1;
  }
  
  .btn__hero:hover {
    color: #66BB6A;
  }
  
  .btn__hero:hover:before {
    width: 100%;
  }
  
  .hero__img {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
  }
  
  .hero__img img {
    max-height: 100vh;
    width: initial;
  }